@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

@mixin body-m {
    font-size: 14px;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
}

@mixin body-s {
    font-size: 12px;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
}
